.ct-plugin-line-select-selected-box {
    width: 32px;
    background: #8d8d8d;
    border-radius: 200px;
    opacity: 0;
}

.ct-plugin-line-select-selected-box__show {
    opacity: 0.2;
}

.ct-plugin-line-select-tooltip {
    text-align: center;
    white-space: pre;
    position: absolute;
    display: inline-block;
    opacity: 0;
    min-width: 5em;
    padding: 0.5em;
    background: #522462;
    border-radius: 100px;
    color: white;
    pointer-events: none;
}

.ct-plugin-line-select-tooltip__show {
    opacity: 1;
}

.ct-plugin-line-select-marker {
    stroke: black;
    stroke-width: 2;
    stroke-dasharray: 4;
    opacity: 0;
}

.ct-plugin-line-select-marker__show {
    opacity: 1;
}

.ct-plugin-line-select-tooltip-point-hit {
    stroke-width: 10px;
    opacity: 1 !important;
}
