.ct-threshold-mask-above,
.ct-threshold-mask-below {
    pointer-events: none;
}

.ct-line.ct-threshold-above,
.ct-point.ct-threshold-above,
.ct-bar.ct-threshold-above {
    opacity: 0.3;
}

.ct-line.ct-threshold-below,
.ct-point.ct-threshold-below,
.ct-bar.ct-threshold-below {
    //
}

.ct-area.ct-threshold-above {
    opacity: 0.3;
}

.ct-area.ct-threshold-below {
    //
}
