.tooltip-content {
    font-family: Roboto;

    strong {
        display: block;
        font-size: 14px;
        text-align: center;
        color: #1186db;
        padding: 2px;

        &.days {
            font-size: 12px;
            color: #8d8d8d;
        }
    }
}

.ct-label {
    font-family: Roboto;

    &.ct-vertical.ct-start,
    &.ct-horizontal.ct-end {
        display: flex;
        align-items: center;
        justify-content: center;

        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #494949;
    }
}
