.ct-label,
.ct-area,
.ct-line {
    pointer-events: none;
}

.ct-point,
.ct-bar,
.ct-slice-pie,
.ct-slice-donut {
    cursor: pointer;
}

.ct-tooltip-blur {
    opacity: 0.2 !important;
}

.ct-tooltip {
    position: absolute;
    display: none;
    pointer-events: none;
}

.ct-tooltip.ct-tooltip-right,
.ct-tooltip.ct-tooltip-left {
    padding: 0 5px;
}

.ct-tooltip.ct-tooltip-top,
.ct-tooltip.ct-tooltip-bottom {
    padding: 5px 0px;
}

.ct-tooltip .ct-tooltip-text {
    padding: 3px 10px;
    background-color: rgb(76, 76, 76);
    background-image: none;
    color: #ffffff;
}

.ct-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.ct-tooltip-right .ct-tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: rgb(76, 76, 76);
}

.ct-tooltip-left .ct-tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: rgb(76, 76, 76);
}

.ct-tooltip.ct-tooltip-top {
    padding: 5px 0;
}

.ct-tooltip-top .ct-tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: rgb(76, 76, 76);
}

.ct-tooltip-bottom .ct-tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: rgb(76, 76, 76);
}
