$chart-tooltip-bg: #fff;
$chart-tooltip-color: #453d3f;

.chartist-tooltip {
    position: absolute;
    display: inline-block;
    opacity: 0;
    min-width: 5em;
    padding: 8px;
    background: $chart-tooltip-bg;
    color: $chart-tooltip-color;
    text-align: center;
    pointer-events: none;
    z-index: 1;
    transition: opacity 0.2s linear;

    &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -8px;
        border: 8px solid transparent;
        border-top-color: $chart-tooltip-bg;
    }

    &.tooltip-show {
        opacity: 1;
    }
}
