.full-height-bar-chart{
    &.ct-chart{
        .klara-chart{
            background-color: transparent;
            .ct-series{
                &.ct-series-a{
                    .ct-bar{
                        stroke: white;
                        stroke-width: 8px;
                        animation-delay: 5s;
                        &.ct-bar-additional{
                            stroke: #FFFFFF;
                            opacity: 0.05;
                        }
                    }
                }
            }
            .ct-labels{
                .ct-label{
                    padding-top: 8px;
                    font-weight: normal;
                    font-size: 12px;
                    color: white;
                }
            }
            .ct-grids{
                .ct-grid{
                    stroke:  #F4F4F4;
                    opacity: 0.05;
                    stroke-dasharray: 3,3;
                    
                }
                .ct-grid.ct-vertical.ct-grid-additional{
                    display: block;
                }
            }
        }
    }
}